@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --bg-color: #FFFDF7;
    --btn-left: #AF2081;
    --btn-right: #533174;
    --heading: #333333;
    --highlight: #D75D33;
    --dark: #000000;
}

*{
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

/*Navbar */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 0.8rem;
}

li.breadcrumb-item{
    font-size: 14px;
}

/* Plans Section*/
.plans-section, .day-section {
    background-color: var(--bg-color);
}

.plans-section h2.heading{
    font-size: 36px;
}

.plans-section .logo {
    width: 100%;
    max-width: 80px;
    height: auto;
    min-height: 80px;
}

.plans-section .btn, .day-section #next-btn {
    background-image: linear-gradient(to right, var(--btn-left), var(--btn-right));
    font-size: 16px;
    width: 100%;
        transition: width 0.5s ease;
}

.plans-section .btn, .plans-section .plan-price, .plans-section .per-week, .plans-section .per-meal {
    font-weight: 500;
}

.plans-section .footer {
    width: 100%;
}

.plans-section .heading {
    color: var(--heading);
}

.plans-section p.heading {
    font-size: 16px;
}

.plans-section .meals {
    font-size: 20px;
}

.plans-section .per-week {
    font-size: 14px;
}

.plans-section .plan-price, .plans-section .per-meal, .plans-section .meals-img span {
    font-size: 16px;

}

.plans-section .price {
    color: var(--highlight);
    font-weight: 600;
}

.plans-section .meals-img span {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 12px;
    z-index: 2;
}

.plans-section .meals-img {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.plans-section .meals-img img {
    transition: transform 0.3s ease;
}

.plans-section .meals-img:hover img {
    transform: scale(1.1);
}

.plans-section .plan{
    cursor: pointer;
}

.plans-section .selected-plan {
    border-radius: 19px;
    border: 2px solid #3167FF;
}

.plans-section .shipping{
    font-size: 14px;
}

/* Day Section*/
.day-section h2.heading, .day-section h1{
    font-size: 48px;
}

.day-section .table-container{
    height: 278px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.day-section .scroll{
    width: 15px;
    background-color: #F9F9F9;
}

.day-section .selected-day{
    border-left: 8px solid var(--highlight);
}

body, td, tfoot, th, thead, tr {
    border-color: black;
    border-right: 0;
}

.day-section tr{
    cursor: pointer;
}

.day-section tr:hover{
    transform: translateX(5px);
}

.day-section .date{
    font-size: 14px;
}

.day-section .popular{
    position: relative;
}

.day-section .popular-text::before {
    content: "☆";
    position: absolute;
    right: 90px;
}

.day-section .popular-text{
    color: var(--highlight);
    font-size: 12px;
}

.day-section .btn{
    font-size: 16px;
}

.day-section .footer-text{
    font-size: 12px;
}

/* Accordion */

.accordion-button {
    background-color: var(--bg-color);
    outline: none;
}

.accordion-button {
    padding: 30px 0;
}

.accordion-button:focus{
    border: none;
    box-shadow: none;
}

.accordion-button::after{
    background-image: url(../images/arrow_forward.svg);
    transform: rotate(90deg);
}

.accordion-button:not(.collapsed){
    color: var(--highlight);
    box-shadow: none;
    background-color: var(--bg-color);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow_forward.svg);
    transform: rotate(-90deg);
}

.accordion-body{
    background-color: var(--bg-color);
}

.accordion-item{
    border: none;
}
.accordion-header{
    border-bottom: 1px solid #ccc;
}

/* Meals Section*/
.meals-section .card{
    border-color:#DFDFDF;
    border-radius: 0;
}

.meals-section #add-btn{
    background-image: linear-gradient(to right, var(--btn-left), var(--btn-right));
    font-size: 16px;
}

.meals-section .title{
    font-size: 14px;
}

.meals-section .desc{
    font-size: 12px;
    color: #707070;
}

.meals-section .featured{
    background-color: #000000;
    color: #ffffff;
}

.meals-section .card-img-top{
    position: relative;
}

.meals-section .extra-price{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--highlight);
}

.wrapper{
    height: 91.5vh;
    right: 0;
}

.border-top{
    border-radius: 20px;
}

.custom-card .card{
    background-color: #F3F3F3;
}

.fa-plus, .fa-minus{
    color: #717171;
}