@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --bg-color: #FFFDF7;
    --btn-left: #AF2081;
    --btn-right: #533174;
    --hr-color: #C7C8C9;
    --heading: #333333;
    --hightlight: #D75D33;
    --dark: #000000;
}

body {
    font-family: roboto;
}

.container-fluid {
    background-color: var(--bg-color);
}

a.disabled{
    color: var(--disabled);
    opacity: 0.5;
    cursor: not-allowed;
}

a.non-active{
     color: var(--disabled);
}

.hr {
    color: var(--hr-color);
}

.plans-section .logo {
    width: 100%;
    max-width: 80px;
    height: auto;
    min-height: 80px;
}

.plans-section .btn, .day-section .btn {
    background-image: linear-gradient(to right, var(--btn-left), var(--btn-right));
    font-size: 14px;
    width: 100%;
}

.plans-section .btn, .plans-section .plan-price, .plans-section .per-week, .plans-section .per-meal {
    font-weight: 500;
}

.plans-section .footer {
    width: 100%;
}

.plans-section .heading {
    color: var(--heading);
}

.plans-section h4.heading {
    font-size: 30px;
}

.plans-section p.heading {
    font-size: 16px;
}

.list-item {
    font-size: 12px;
}

.plans-section .meals, .plans-section .shipping {
    font-size: 14px;
}

.plans-section .per-week {
    font-size: 9px;
}

.plans-section .plan-price, .plans-section .per-meal, .plans-section .meals-img span {
    font-size: 10px;

}

.plans-section .price {
    color: var(--hightlight);
    font-weight: 600;
}

.plans-section .meals-img span {
    position: absolute;
    top: 7px;
    left: 7px;
}

.plans-section .meals-img {
    position: relative;
    overflow: hidden;
}

.plans-section .meals-img img {
    transition: transform 0.4s ease;
}

.plans-section .meals-img:hover img {
    border-radius: 38px;
    transform: scale(1.1);
}

.plans-section .selected-plan {
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #3167FF;
}

.day-section .footer-text{
    font-size: 12px;
}

.day-section .popular-text{
    color: var(--hightlight);
    font-size: 9px;
    font-weight: 300;
}

.day-section .popular{
    position: relative;
}

.day-section .popular-text::before {
    content: "☆";
    position: absolute;
    right: 80px;
}

.day-section .selected-day{
    border-left: 8px solid var(--hightlight);
}

.day-section tr{
    cursor: pointer;
}

.day-section .table{
   height: 5px;
}