@font-face {
    font-family: roboto;
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --bg-color: #FFFDF7;
    --btn-left: #AF2081;
    --btn-right: #533174;
    --highlight-color: #D75D33;
    --dark-color: #000000;
    --link-color: #0D6EFD;
    --heading-color: #333333;
    --light-color: #ffffff;
    --border-color: #FFC107;
    --light-border-color: gainsboro;
    --scroll-bg-color: #F9F9F9;
    --bg-color-secondary: #CCCCCC;
    --card-bg-color: #DFDFDF;
    --custom-card-bg-color: #F3F3F3;
    --desc-color: #707070;
    --disabled-icon-color: #717171;
}

* {
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background-color: var(--bg-color);
}

/*---------------Navbar usign jQuery Steps-------------------*/
#wizard .steps li a {
    color: var(--dark-color);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
    font-weight: 360;
}

#wizard .steps li a:hover{
    text-decoration: underline;
}

#wizard .steps li.current a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

#wizard .steps ul {
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--light-border-color);
    margin-bottom: 0rem;
}

#wizard .steps {
    position: sticky;
    top: 0;
    z-index: 1020;
}

#wizard .steps li+li::before {
    padding: 0 0.8rem;
    content: ">";
}

#wizard li {
    list-style: none;
    font-size: 14px;
}

#wizard .steps .number,
#wizard .steps .current span,
#wizard .steps-heading {
    display: none;
}

/*--------------------Plans Section-----------------------*/
.plans-section h2.heading {
    font-size: 36px;
}

.plans-section .logo {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}

.plans-section .btn,
.day-section #next-btn {
    background-image: linear-gradient(to right, var(--btn-left), var(--btn-right));
    font-size: 16px;
    width: 100%;
    transition: max-width 0.5s ease;
}

.plans-section .btn,
.plans-section .plan-price,
.plans-section .per-week,
.plans-section .per-meal {
    font-weight: 500;
}

.plans-section .footer {
    width: 100%;
}

.plans-section .heading {
    color: var(--heading-color);
}

.plans-section p.heading {
    font-weight: 360;
}

.plans-section .meals {
    font-size: 20px;
}

.day-section .btn,
.plans-section p.heading,
.plans-section .plan-price,
.plans-section .per-meal,
.plans-section .meals-img span,
.custom-card .add-btn,
.custom-card .cart-next-btn,
.cart-count,
.sub-total {
    font-size: 16px;
}

.plans-section .price {
    color: var(--highlight-color-color);
    font-weight: 600;
}

.plans-section .meals-img span {
    top: 7px;
    left: 7px;
    font-size: 12px;
    z-index: 2;
}

.plans-section .meals-img {
    overflow: hidden;
    border-radius: 16px;
}

.plans-section .meals-img img {
    transition: transform 0.3s ease;
}

.plans-section .meals-img:hover img {
    transform: scale(1.1);
}

.plans-section .plan,
.day-section tr,
.custom-card .fa-plus,
.custom-card .fa-minus,
.custom-card .clear  {
    cursor: pointer;
}

.plans-section .selected-plan {
    border-radius: 19px;
    border: 1px solid var(--border-color);
}

.plans-section .shipping, .plans-section .per-week,
.custom-card .title,
.custom-card .summary,
.day-section .date,
.meals-section .title {
    font-size: 14px;
}

.plans-section{
    font-weight: 380;
}

@media screen and (min-width: 577px) {
    .plans-section .btn {
        max-width: 24%;
    }
}

@media screen and (min-width: 992px) {
    .plans-section .meals {
        font-size: 24px;
    }

    .plans-section .btn {
        max-width: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .plans-section .btn {
        max-width: 11%;
        height: 100%;
        max-height: 45px;
    }

    .plans-section .btn:hover {
        max-width: 26%;   
    }
}

/* Day Section*/
.day-section h2.heading,
.day-section h1 {
    font-size: 48px;
    color: var(--heading-color);
}

.day-section .table-container {
    height: 100%;
    max-height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.day-section .scroll {
    width: 100%;
    max-width: 8px;
    background-color: var(--scroll-bg-color);
}

.day-section .selected-day {
    border-left: 8px solid var(--highlight-color);
}

body,
td,
tfoot,
th,
thead,
tr {
    border-color: var(--dark-color);
    border-right: 0;
}

.day-section td {
    padding: 12px 0;
}

.day-section tr:hover {
    transform: translateX(5px);
}

.day-section .popular {
    position: relative;
}

.day-section .popular-text::before {
    content: "☆";
    position: absolute;
    right: 90px;
}

.day-section .popular-text {
    color: var(--highlight-color);
    font-size: 12px;
}

/* Accordion */

.accordion-button {
    background-color: var(--bg-color);
    outline: none;
}

.accordion-button {
    padding: 30px 0;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../images/arrow_forward.svg);
    transform: rotate(90deg);
}

.accordion-button:not(.collapsed) {
    color: var(--highlight-color);
    box-shadow: none;
    background-color: var(--bg-color);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow_forward.svg);
    transform: rotate(-90deg);
}

.accordion-body {
    background-color: var(--bg-color);
}

.accordion-item {
    border: none;
}

.accordion-header {
    border-bottom: 1px solid var(--bg-color-secondary);
}

/* Meals Section */
.meals-section .card {
    border-color: var(--card-bg-color);
    border-radius: 0;
}

.meals-section .add-btn,
.meals-section .cart-next-btn,
#checkout-btn
 {
    background-image: linear-gradient(to right, var(--btn-left), var(--btn-right));
    font-size: 16px;
    border: none;
}

.meals-section .desc {
    font-size: 12px;
    color: var(--desc-color);
}

.meals-section .featured, .checkout-section .featured {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.meals-section .card-img-top, .checkout-section .card-img-top {
    position: relative;
}

.meals-section .extra-price, .checkout-section .extra-price {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-color);
}

.border-top {
    border-radius: 20px;
}

.custom-card {
    height: 100%;
    max-height: 91.5vh;
    right: 0;
}

.custom-card .cart-body {
    flex: 1;
    overflow-y: auto;
}

.custom-card .card {
    background-color: var(--custom-card-bg-color);
}

.custom-card .fa-plus .disabled,
.custom-card .fa-minus .disabled{
    color: var(--disabled-icon-color);
}

.divider {
    content: "";
    top: 10%;
    right: 0;
    height: 100%;
    max-height: 80%;
    width: 100%;
    max-width: 1px;
    background-color: var(--bg-color-secondary);
}

.day-section .footer-text,
.custom-card .delivery-day,
.custom-card #tax-msg,
.custom-card .clear,
.custom-card .meal-left,
.custom-card .extra-price {
    font-size: 12px;
}

.text-highlight {
    color: var(--highlight-color);
}

.meals-section .disabled{
    opacity: 0.5;
    cursor: default;
}

#cart-down{
    transform: rotate(90deg);
}

/*Checkout Section */
.checkout-section .desc{
    font-size: 13px;
}
.checkout-section #checkout-btn{
    height: 100%;
    max-height: 47px;
}